<head>

    <link rel="stylesheet" href="buy-books.component.css" type="text/css">

</head>

<body class="container">
    <div>
        <form>

            <label>UserName</label>
            <input type="text" [(ngModel)]="book.username" name="username" class="name" /> <br>

            <label>bookId</label>
            <input type="text" [(ngModel)]="book.bookId" name="bookId" class="bookId" /> <br>

            <label>email</label>
            <input type="text" [(ngModel)]="book.email" name="email" class="email" /> <br>

            <button class='btn btn-primary' (click)="buyBooks()">Submit</button>
        </form>
    </div>
</body>