

<nav class="nav nav-pills flex-column flex-sm-row">
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink=''>Home</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='signup'> SignUp</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='signin'> SignIn</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='bookform'>CreateBook</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='updateBook'> Update Book</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='buyBooks'> BuyBooks</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='search'> Search Book</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='allPurchasedBooks'> allPurchasedBooks</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='searchBookbyMailAndBookId'> SearchBookbyMail&BookId</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='searchBookbyEmailandPaymentId'> SearchBookbyEmailandPaymentId</a>
	<a class=" flex-sm-fills text-sm-center nav-link active" routerLink='refund'> Refund</a>
</nav> 
                                      